.sign-up-wrapper
  %header.sign-up__header
    = link_to '#' do
      = image_tag "/images/logo/logo.png"
  %main.sign-up-content
    %h2.sign-up-content__head 会員情報入力
    %section.sign-up-content__main
      .sign-up-content__main__form
        = form_for(resource, as: resource_name, url: user_registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .sign-up-content__main__form__group
            = f.label :nickname,"ニックネーム"
            %span.sign-up-content__main__form__group__require 必須
            %br/
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname",placeholder:"例)フリマ太郎", class: "sign-up-content__main__form__group__field"
          .sign-up-content__main__form__group
            = f.label :mial,"メールアドレス"
            %span.sign-up-content__main__form__group__require 必須
            %br/
            = f.text_field :email, autofocus: true, autocomplete: "email",placeholder:"PC・携帯どちらでも可", class: "sign-up-content__main__form__group__field"
          .sign-up-content__main__form__group
            = f.label :password,"パスワード"
            %span.sign-up-content__main__form__group__require 必須
            %br/
            = f.password_field :password, autocomplete: "new-password",placeholder:"7文字以上の半角英数字", class: "sign-up-content__main__form__group__field"
          .sign-up-content__main__form__group
            = f.label :password,"パスワード(確認用)"
            %span.sign-up-content__main__form__group__require 必須
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"上記と同じパスワードを入力", class: "sign-up-content__main__form__group__field"

          .sign-up-content__main__form__group
            %h3.sign-up-content__main__form__group__text-title 本人確認
            %p.ontent__main__form__group__text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .sign-up-content__main__form__group
            = f.label :first_name,"お名前(全角)"
            %span.sign-up-content__main__form__group__require 必須
            %br/
            = f.text_field :last_name, autofocus: true, autocomplete: "given-name",placeholder:"例) 山田", class: "sign-up-content__main__form__group__name"
            = f.text_field :first_name, autofocus: true, autocomplete: "given-name",placeholder:"例) 彩", class: "sign-up-content__main__form__group__name"
          .sign-up-content__main__form__group
            = f.label :first_name_furigana,"お名前かな(全角)"
            %span.sign-up-content__main__form__group__require 必須
            %br/
            = f.text_field :last_name_furigana, autofocus: true, autocomplete: "given-name",placeholder:"例) やまだ", class: "sign-up-content__main__form__group__name"
            = f.text_field :first_name_furigana, autofocus: true, autocomplete: "given-name",placeholder:"例) あや", class: "sign-up-content__main__form__group__name"

          .sign-up-content__main__form__group
            = f.label :birthday,"生年月日"
            %span.sign-up-content__main__form__group__require 必須
            %br/           
            = raw sprintf(f.date_select(:birthday, autofocus: true, prompt:"--",use_month_numbers: true, start_year:Time.now.year,end_year:(1900),date_separator:'%s'), '年 ', '月 ') + '日' 
            = icon 'fas', 'chevron-down',class:"sign-up-content__main__form__group__icon1"
            = icon 'fas', 'chevron-down',class:"sign-up-content__main__form__group__icon2"
            = icon 'fas', 'chevron-down',class:"sign-up-content__main__form__group__icon3"

          .sign-up-content__main__form__group
            = f.label :tel_number,"電話番号"
            %span.sign-up-content__main__form__group__any 任意
            %br/
            = f.text_field :tel_number, autofocus: true, autocomplete: "tel",placeholder:"例) 080×××××××", class: "sign-up-content__main__form__group__field"

          .sign-up-content__main__form__group
            %p.sign-up-content__main__form__group__info ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

          .sign-up-content__main__form__actions
            = f.submit "次に進む",class:"sign-up-content__main__form__actions__button"


  %footer.sign-up-content__footer
    .sign-up-content__footer__other
      %span プライバシーポリシー
      %span フリマアプリ規約
      %span 特定商取引に関する表記
    .sign-up-content__footer__logo
      = link_to '#' do
        = image_tag "/images/logo/logo.png"
    .sign-up-content__footer__name
      %p &copy Furimaapuri
