%header.Header
  .Header__inner
    .Header__top
      .Header__icon
        = link_to '/' do
          = image_tag "/assets/logo/logo.png",class:"Header__logo"
      .Header__search-Box
        %form.Header__form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input{:name => "utf-8", :type => "hidden", :value => ""}/
          %input#searchInput.Header__input{:name => "key", :placeholder => "キーワードから探す"}/
          %button.Header__button{:type => "submit"}
            %div
              = image_tag "/assets/icon/icon-search 1.png",class:"Header__search-Box__icon"
      %ul.Header__resultLists
    %nav.Header__nav
      %ul.Header__left-nav
        %li.Header__left-list
          = link_to 'カテゴリー','#',class:'Header__navBtn'
        %li.Header__left-list
          = link_to 'ブランド','#',class:'Header__navBtn'
      %ul.Header__right-nav
        %li.Header__right-list
          = link_to 'ログイン','#',class:'Header__navBtn'
        %li.Header__right-list
          = link_to '新規会員登録','#',class:'Header__navBtn'

-# <header class="Header">
-#   <div class="Header__inner">
-#     <div class="Header__top">
-#       <div class=Header__icon>
-#         <%= link_to '/' do%>
-#          <%= image_tag "/assets/logo/logo.png",class:"Header__logo"%>
-#         <% end %>
-#       </div>
-#       <div class= Header__search-Box>
-#         <form action="#" accept-charset="UTF-8" method="get" class="Header__form">
-#           <input name="utf-8" type="hidden" value="">
-#           <input class="Header__input" id="searchInput" name="key" placeholder="キーワードから探す"> 
-#           <button type='submit' class="Header__button">
-#             <div>
-#               <%= image_tag "/assets/icon/icon-search 1.png",class:"Header__search-Box__icon"%>
-#             </div>
-#           </button>
-#       </div>
-#       <ul class= "Header__resultLists"></ul>
-#     </div>

-#     <nav class="Header__nav">

-#       <ul class="Header__left-nav">
-#         <li class="Header__left-list">
-#           <%=link_to 'カテゴリー','#',class:'Header__navBtn'%>
-#         </li>
-#         <li class="Header__left-list">
-#           <%=link_to 'ブランド','#',class:'Header__navBtn'%>
-#         </li>
-#       </ul>
    
-#       <ul class="Header__right-nav">
-#         <li class="Header__right-list">
-#           <%=link_to 'ログイン','#',class:'Header__navBtn'%>
-#         </li>
-#         <li class="Header__right-list">
-#           <%=link_to '新規会員登録','#',class:'Header__navBtn'%>
-#         </li>
-#       </ul>  
-#     </nav>
-#   </div>
-# </header>
