.signup-main
  %section.mypage-content__chapter-container
    -# = @cards.customer_id[0]
    -# = @cards.customer_id[1]
    -# = @cards.customer_id[2]

    %h2.signup-main__chapter-head
    クレジットカード一覧

    = form_with model: @cards, url: delete_product_cards_path, method: 'POST', id: 'test' do |f|
      - if @cnt >= 1
        .purchase-method__how
          = submit_tag "削除する" 
          
          .purchase-method__how--name
            クレジットカード 1
          .purchase-method__how--number
            = "**** **** **** " + "#{@default_card_information1.last4}"
          .purchase-method__how--exp
            = "有効期限"  + "#{@default_card_information1.exp_month}"+"/" "#{@default_card_information1.exp_year}"
          .purchase-method__how--logo
            = icon('fas', 'credit-card')
            = @default_card_information1.brand
        = submit_tag "Delete" ,id: "token_submit", class: "top__margin"

      - if @cnt >= 2
        .purchase-method__how
          .purchase-method__how--name
            クレジットカード 2
          .purchase-method__how--number
            = "**** **** **** " + "#{@default_card_information2.last4}"
          .purchase-method__how--exp
            = "有効期限"  + "#{@default_card_information2.exp_month}"+"/" "#{@default_card_information2.exp_year}"
          .purchase-method__how--logo
            = icon('fas', 'credit-card')
            = @default_card_information2.brand

      - if @cnt >=3
        .purchase-method__how
          .purchase-method__how--name
            クレジットカード 3
          .purchase-method__how--number
            = "**** **** **** " + "#{@default_card_information3.last4}"
          .purchase-method__how--exp
            = "有効期限"  + "#{@default_card_information3.exp_month}"+"/" "#{@default_card_information3.exp_year}"
          .purchase-method__how--logo
            = icon('fas', 'credit-card')
            = @default_card_information3.brand
