%script{src: "https://js.pay.jp/", type: "text/javascript"}
= render "/partial/header"
.mypage
  
  %main.mypage-contents.clearfix
    = render "users/mypage_side"
    .signup-main
      %section.mypage-content__chapter-container
        %h2.signup-main__chapter-head
          クレジットカード情報入力
        = form_with model: @card, url: create1_user_cards_path(current_user.id), method: 'POST', id: 'charge-form', class: 'signup-main__inner--registration-form', novalidate: 'novalidate', html: { name: 'inputForm' } do |f|
          .signup-main__content
            .signup-main__form-group
              %label{ for: 'payment_card_no' } カード番号
              %span.signup-main__form-require 必須
              %input.signup-main__input-default{ type: 'text', id: 'card_number', placeholder: '半角数字のみ', maxlength: '19' }
              %ul.signup-main__has-error-text{ id: 'card-no-error-wrapper' }
              %ul.signup-main__card-list
                %li
                  = image_tag '//pcweb-assets.mercdn.net/assets/img/card/visa.svg?2246739708', width: '49', height: '20' 
                %li
                  = image_tag '//pcweb-assets.mercdn.net/assets/img/card/master-card.svg?2246739708', width: '34', height: '20'
                %li
                  = image_tag '//pcweb-assets.mercdn.net/assets/img/card/saison-card.svg?2246739708', width: '30', height: '20'
                %li
                  = image_tag '//pcweb-assets.mercdn.net/assets/img/card/jcb.svg?2246739708', width: '32', height: '20'
                %li
                  = image_tag '//pcweb-assets.mercdn.net/assets/img/card/american_express.svg?2246739708', width: '21', height: '20'
                %li
                  = image_tag '//pcweb-assets.mercdn.net/assets/img/card/dinersclub.svg?2246739708', width: '32', height: '20'
                %li
                  = image_tag '//pcweb-assets.mercdn.net/assets/img/card/discover.svg?2246739708', width: '32', height: '20'
                
                
            .signup-main__form-group.signup-form-expire
              %label{ for: 'payment_card_expire'} 有効期限
              %span.signup-main__form-require 必須
              %br
              .signup-main__select-wrap--half
                = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'form-signup__month__select', id:'exp_month'
                %i.fas.fa-chevron-down
                %span.month-year 月
              .signup-main__select-wrap--half
                = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'form-signup__month__select', id:'exp_year'
                = icon 'fas', 'chevron-down'
                %span.month-year 年
              %ul.signup-main__has-error-text{ id: 'expire-mm-error-wrapper' }
              %ul.signup-main__has-error-text{ id: 'expire-yy-error-wrapper' }
            
            .signup-main__form-group.seqcode
              %label{ for: 'payment_card_security_code'} セキュリティコード
              %span.signup-main__form-require 必須
              %input.signup-main__input-default{ type: 'text', id: 'cvc', placeholder: 'カード背面4桁もしくは3桁の番号' }
              %ul.signup-main__has-error-text{ id: 'security-code-error-wrapper' }
              .signup-main__seqcode
                .signup-main__seqcode__text{ id: 'seqcode-tips-toggle' }
                  %span.signup-main__form-question?
                  カード背面の番号とは？

            #card_token
            = submit_tag "追加する" ,id: "token_submit", class: "top__margin"

%aside.appBanner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード
    .inner__icon
      = link_to '#', class: 'Btn' do
        = image_tag "/images/logo/download-on-app-store.png",class:'app'
      = link_to '#', class: 'Btn' do
        = image_tag "/images/logo/btn_googleplay.png",class:'app'


= render "/partial/footer"
