= render "/partial/header"
.main
  %section.main__visual
    .main__content
      %h2.main__content-subtitle
        %br
        人生を変えるフリマアプリ
      %p.main__content-text
        FURIMAは誰でもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main__content-btn
        = link_to '#',class:'Btn' do
          = image_tag "/assets/logo/download-on-app-store.png",class:"app"
          = image_tag "/assets/logo/btn_googleplay.png",class:"app"
       
  %section.main__introduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag '/assets/pict/pict-reason-01.jpg',class:'intro-size'
        %h3.list__text
          %span.def-color 3分
          ですぐ出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag '/assets/pict/pict-reason-02.jpg',class:'intro-size'
        %h3.list__text
          %span.def-color シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！！
      %li.list
        .list__pict
          %span.number 3
          = image_tag '/assets/pict/pict-reason-03.jpg',class:'intro-size'
        %h3.list__text
          手数料
          %span.def-color 業界最安
        %p.list__description
          最大3%でお得に出品&amp;購入！
  %section.main__appdl
    .inner
      %h2.inner__subtitle 会員数日本一位
      %p.inner__text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .inner__btn
        = link_to '#', class:'Btn' do
          = image_tag "/assets/logo/download-on-app-store.png",class:"app"
        = link_to '#', class:'Btn' do
          = image_tag "/assets/logo/btn_googleplay.png",class:"app"
  %section.main__features
    %h2.head
      FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag '/assets/icon/icon-01',class:'feature-size'
        %h3.item__subtitle
          簡単に売り買い
          %br>/
          出来る
        %p.item__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag '/assets/icon/icon-03',class:'feature-size'
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.item
        %figure.item__img
          = image_tag '/assets/icon/icon-04',class:'feature-size'
        %h3.item__subtitle
          様々な支払いに
          %br>/
          対応
        %p.item__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.main__pickup
    %h2.head ピックアップカテゴリー
    .product-box
      .product-box__head
        = link_to '#', class:'new-product' do
          %h3.title 新規投稿商品
      .product-box__lists
        .product-box__list
          = link_to '#', class:'new-product' do
            %figure.product-box__img
              = image_tag '/assets/products/sample1.jpeg', class:'pickup-size'
            .product-box__body
              %h3.name 餃子
              .detail
                %ul.price-line
                  %li.price 500円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.tax （税込）
        .product-box__list
          = link_to '#', class:'new-product' do
            %figure.product-box__img
              = image_tag '/assets/products/sample2.jpeg', class:'pickup-size'
            .product-box__body
              %h3.name 餃子
              .detail
                %ul.price-line
                  %li.price 500円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.tax （税込）
        
        .product-box__list
          = link_to '#', class:'new-product' do
            %figure.product-box__img
              = image_tag '/assets/products/sample5.jpeg', class:'pickup-size'
            .product-box__body
              %h3.name 餃子
              .detail
                %ul.price-line
                  %li.price 500円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.tax （税込）
  %section.main__pickup
    %h2.head ピックアップブランド
    .product-box
      .product-box__head
        = link_to'#', class:'new-product' do
          %h3.title アーカイバ
      .product-box__lists
        .product-box__list
          = link_to '#', class:'new-product' do
            %figure.product-box__img
              = image_tag '/assets/products/sample1.jpeg', class:'pickup-size'
            .product-box__body
              %h3.name 餃子
              .detail
                %ul.price-line
                  %li.price 500円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.tax （税込）
        .product-box__list
          = link_to '#', class:'new-product' do
            %figure.product-box__img
              = image_tag '/assets/products/sample2.jpeg', class:'pickup-size'
            .product-box__body
              %h3.name 餃子
              .detail
                %ul.price-line
                  %li.price 500円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.tax （税込）
        .product-box__list
          = link_to '#', class:'new-product' do
            %figure.product-box__img
              = image_tag '/assets/products/sample6.jpeg', class:'pickup-size'
            .product-box__body
              %h3.name 餃子
              .detail
                %ul.price-line
                  %li.price 500円
                  %li
                    %i.fas.fa-star.likeIcon
                    0
                %p.tax （税込）
%aside.appBanner
  .inner
    %h2.inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード
    .inner__icon
      = link_to '#', class: 'Btn' do
        = image_tag '/assets/logo/download-on-app-store.png',class:'app'
      = link_to '#', class: 'Btn' do
        = image_tag '/assets/logo/btn_googleplay.png',class:'app'
= render "/partial/footer"
-# <div class="main">
-#   <section class="main__visual">
-#     <div class="main__content"> 
-#       <h2 class=main__content-subtitle>
-#         <br>人生を変えるフリマアプリ
-#       </h2>
-#       <p class= "main__content-text">
-#         FURIMAは誰でもかんたんに出品・購入できる
-#         <br>
-#         フリマアプリです
-#       </p>
-#       <div class="main__content-btn">
-#         <%= link_to '#',class:'Btn' do%>
-#           <%= image_tag "/assets/logo/download-on-app-store.png",class:"app"%>
-#         <% end %>
-#         <%= link_to '#',class:'Btn' do%>
-#           <%= image_tag "/assets/logo/btn_googleplay.png",class:"app"%>
-#         <% end %>
-#       </div>
-#     </div>
-#   </section>

-#   <section class="main__introduction">
-#     <h2 class="subtitle">
-#       FURIMAが選ばれる3つの理由
-#     </h2>
-#     <ul class="lists">
-#       <li class="list">
-#         <div class="list__pict">
-#           <span class="number">1</span>
-#           <%= image_tag '/assets/pict/pict-reason-01.jpg',class:'intro-size'%> 
-#         </div>
-#         <h3 class="list__text">
-#           <span class="def-color">3分</span>
-#           ですぐ出品
-#         </h3>
-#         <p class="list__description">
-#           スマホで入力するだけで簡単に出品できる！
-#         </p>
-#       </li>
-#       <li class="list">
-#         <div class="list__pict">
-#           <span class="number">2</span>
-#           <%= image_tag '/assets/pict/pict-reason-02.jpg',class:'intro-size'%> 
-#         </div>
-#         <h3 class="list__text">
-#           <span class="def-color">シンプル</span>
-#           で使いやすい
-#         </h3>
-#         <p class="list__description">
-#           めんどくさい入力は必要なく、検索も購入もスムーズ！！
-#         </p>
-#       </li>
-#       <li class="list">
-#         <div class="list__pict">
-#           <span class="number">3</span>
-#           <%= image_tag '/assets/pict/pict-reason-03.jpg',class:'intro-size'%> 
-#         </div>
-#         <h3 class="list__text">
-#           手数料
-#           <span class="def-color">業界最安</span>
-#         </h3>
-#         <p class="list__description">
-#           最大3%でお得に出品&購入！
-#         </p>
-#       </li>
-#     </ul>
-#   </section>

-#   <section class="main__appdl">
-#     <div class="inner">
-#       <h2 class="inner__subtitle">会員数日本一位</h2>
-#       <p class="inner__text">
-#         FURIMAは、フリマアプリで最も人気。
-#         <br>
-#         出品・購入回数も業界最多です！
-#         <br>
-#         ほしかったあの商品に出会えるかもしれません。
-#       </p>
-#       <div class="inner__btn">
-#         <%=link_to '#', class:'Btn' do%>
-#           <%=image_tag "/assets/logo/download-on-app-store.png",class:"app" %>
-#         <% end %>

-#         <%=link_to '#', class:'Btn' do%>
-#           <%=image_tag "/assets/logo/btn_googleplay.png",class:"app"%>
-#         <% end %>
-#     </div>
-#   </section>

-#   <section class="main__features">
-#     <h2 class="head">
-#       FURIMAの特徴
-#     </h2>
-#     <div class="items">
-#       <section class="item">
-#         <figure class="item__img">
-#           <%= image_tag '/assets/icon/icon-01',class:'feature-size'%> 
-#         </figure>
-#         <h3 class=item__subtitle>簡単に売り買い<br>出来る</h3>
-#         <p class="item__detail">スマホひとつで、いつでもどこでも簡単に出品・購入が可能！</p>
-#       </section>
-#       <section class="item">
-#         <figure class="item__img">
-#           <%= image_tag '/assets/icon/icon-03',class:'feature-size'%> 
-#         </figure>
-#         <h3 class=item__subtitle>売上金は即日振込みに対応</h3>
-#         <p class="item__detail">午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!</p>
-#       </section>
-#       <section class="item">
-#         <figure class="item__img">
-#           <%= image_tag '/assets/icon/icon-04',class:'feature-size'%> 
-#         </figure>
-#         <h3 class=item__subtitle>様々な支払いに<br>対応</h3>
-#         <p class="item__detail">お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。</p>
-#       </section>
-#     </div>
-#   </section>
-#   <section class="main__pickup">
-#     <h2 class="head">ピックアップカテゴリー</h2>
-#     <div class="product-box">
-#     <div class="product-box__head">
-#       <%= link_to '#', class:'new-product' do %>
-#         <h3 class="title">新規投稿商品</h3>
-#       <% end %>
-#     </div>
-#     <div class="product-box__lists">
-#       <div class="product-box__list">
-#         <%= link_to '#', class:'new-product' do%>
-#           <figure class="product-box__img">
-#             <%= image_tag '/assets/products/sample1.jpeg', class:'pickup-size'%>
-#           </figure>
-#           <div class="product-box__body">
-#             <h3 class="name">餃子</h3>
-#             <div class="detail">
-#               <ul class="price-line">
-#                 <li class="price">500円</li>
-#                 <li><i class="fa fa-star likeIcon"></i>0</li>
-#               </ul>
-#               <p class="tax">（税込）</p>
-#             </div>
-#           </div>
-#         <% end %>
-#       </div>
-#       <div class="product-box__list">
-#         <%= link_to '#', class:'new-product' do%>
-#           <figure class="product-box__img">
-#             <%= image_tag '/assets/products/sample2.jpeg', class:'pickup-size'%>
-#           </figure>
-#           <div class="product-box__body">
-#             <h3 class="name">餃子</h3>
-#             <div class="detail">
-#               <ul class="price-line">
-#                 <li class="price">500円</li>
-#                 <li><i class="fa fa-star likeIcon"></i>0</li>
-#               </ul>
-#               <p class="tax">（税込）</p>
-#             </div>
-#           </div>
-#         <% end %>
-#       </div>
-#       <div class="product-box__list">
-#         <%= link_to '#', class:'new-product' do%>
-#           <figure class="product-box__img">
-#             <%= image_tag '/assets/products/sample5.jpeg', class:'pickup-size'%>
-#           </figure>
-#           <div class="product-box__body">
-#             <h3 class="name">餃子</h3>
-#             <div class="detail">
-#               <ul class="price-line">
-#                 <li class="price">500円</li>
-#                 <li><i class="fa fa-star likeIcon"></i>0</li>
-#               </ul>
-#               <p class="tax">（税込）</p>
-#             </div>
-#           </div>
-#         <% end %>
-#       </div>>
-#     </div>
-#   </section>
-#     <section class="main__pickup">
-#     <h2 class="head">ピックアップブランド</h2>
-#     <div class="product-box">
-#     <div class="product-box__head">
-#       <%= link_to'#', class:'new-product' do%>
-#         <h3 class="title">アーカイバ</h3>
-#       <% end %>
-#     </div>
-#     <div class="product-box__lists">
-#       <div class="product-box__list">
-#         <%= link_to '#', class:'new-product' do%>
-#           <figure class="product-box__img">
-#             <%= image_tag '/assets/products/sample1.jpeg', class:'pickup-size'%>
-#           </figure>
-#           <div class="product-box__body">
-#             <h3 class="name">餃子</h3>
-#             <div class="detail">
-#               <ul class="price-line">
-#                 <li class="price">500円</li>
-#                 <li><i class="fa fa-star likeIcon"></i>0</li>
-#               </ul>
-#               <p class="tax">（税込）</p>
-#             </div>
-#           </div>
-#         <% end %>
-#       </div>
-#       <div class="product-box__list">
-#         <%= link_to '#', class:'new-product' do%>
-#           <figure class="product-box__img">
-#             <%= image_tag '/assets/products/sample2.jpeg', class:'pickup-size'%>
-#           </figure>
-#           <div class="product-box__body">
-#             <h3 class="name">餃子</h3>
-#             <div class="detail">
-#               <ul class="price-line">
-#                 <li class="price">500円</li>
-#                 <li><i class="fa fa-star likeIcon"></i>0</li>
-#               </ul>
-#               <p class="tax">（税込）</p>
-#             </div>
-#           </div>
-#         <% end %>
-#       </div>
-#       <div class="product-box__list">
-#         <%= link_to '#', class:'new-product' do%>
-#           <figure class="product-box__img">
-#             <%= image_tag '/assets/products/sample6.jpeg', class:'pickup-size'%>
-#           </figure>
-#           <div class="product-box__body">
-#             <h3 class="name">餃子</h3>
-#             <div class="detail">
-#               <ul class="price-line">
-#                 <li class="price">500円</li>
-#                 <li><i class="fa fa-star likeIcon"></i>0</li>
-#               </ul>
-#               <p class="tax">（税込）</p>
-#             </div>
-#           </div>
-#         <% end %>
-#       </div>
-#     </div>
-#     </div>
-#   </section>
-# </div>
-# <aside class="appBanner">
-#   <div class="inner">
-#     <h2 class="inner__title">だれでもかんたん、人生を変えるフリマアプリ
-#     </h2>
-#     <p class="inner__text">今すぐ無料ダウンロード</p>
-#     <div class="inner__icon">

-#       <%= link_to '#', class: 'Btn' do %>
-#       <%=image_tag '/assets/logo/download-on-app-store.png',class:'app'%>
-#       <% end %>

-#       <%= link_to '#', class: 'Btn' do %>
-#       <%=image_tag '/assets/logo/btn_googleplay.png',class:'app'%>
-#       <% end %>

-#     </div>
-#   </div>
-# </aside>
