.new_page_wrapper
  .new_page_header
    = link_to '#' do
      = image_tag "/images/logo/logo.png"

  .new_page_main
    .new_page_main__index
      = form_with(url: products_path, local: true) do |form|
        .new_page_main__photo
          %span.label_title 
            出品画像
          %span.required 必須
          %p.upload_limit 最大10枚までアップロードできます
          #image-box-1
            .item-num-0#image-box__container
          %div.photo_space
            ドラッグ&ドロップまたはクリックしてファイルをダウンロード
            .file__box
              = form.fields_for :product_photos do |m|
                = m.label :photo, class: "form-image" do
                  = m.file_field :photo, type: 'file', name: "item[images_attributes][][image_url]", value:"", style: "display:none", id:"img-file"
                  %label{for: "img-file"}
                    %i.fas.fa-camera

        .new_page_main__name
          %span.label_title
            商品名
          %span.required 必須
          %p
            = form.text_field :name, placeholder: "40文字まで"

        .new_page_main__explanation
          %span.label_title
            商品の説明
          %span.required 必須
          = form.text_area :explanation, placeholder: "商品の説明(必須 1000文字以内)\r\n(色、素材、重さ、定価、注意点など)\r\n\r\n例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでオススメです。"
          %span.font__num 0/1000
          %p.item__show--block 商品の詳細

        .new_page_main__category
          %span.label_title
            カテゴリー
          %span.required 必須
          %p
            = form.collection_select(:category_id, Category.all, :id, :name)
              
        .new_page_main__brand
          %span.label_title
            ブランド
          %span.any 任意
          %p
            = form.text_field :brand, placeholder: "例)シャネル"
      
        .new_page_status
          %span.label_title
            商品の状態
          %span.required 必須
          %p
            = form.select :status, Product.statuses.keys
          %span.item__show--block
            配送について
            %i.far.fa-question-circle

        .new_page_bear
          %span.label_title
            配送料の負担
          %span.required 必須
          %p
            = form.select :bear, Product.bears.keys

        .new_page_days
          %span.label_title
            発送までの日数
          %span.required 必須
          %p
            = form.select :days, Product.days.keys         
          %span.price__limit
            価格 (¥300~9,999,999)
            %i.far.fa-question-circle

        .new_page_price
          %span.label_title
            販売価格
          %span.required 必須
          .price__table
            %span ¥
            %span 
              = form.text_field :price, placeholder: "0", id: "price-result"

        .new_page_main__sales_commission
          %span.sales_commission 販売手数料（10%）
          %span.haihun_tax -
        %hr
        .new_page_main__profit
          %span.profit 販売利益
          %span.haihun_profit -      

        %but.exhibit
          = form.submit '出品する', class:"submit-exhibit"
        %button.save 下書きに保存
        .escape 
          = link_to root_path do
            戻る

        .new-main-comment
          %p
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
    
  .new_page_footer
    .new_page_footer__other
      %span プライバシーポリシー
      %span フリマアプリ規約
      %span 特定商取引に関する表記

    .new_page_footer__logo
      = link_to '#' do
        = image_tag "/images/logo/logo.png"

    .new_page_footer__name
      %p &copy FurimaApuri

