%body
  = render "/partial/header"

  .wrapper-product-dtail
    .main-content
      %h1.item-name 
        = @product.name
      .main-content__photo
        = image_tag @product.product_photos[0].photo.url, class:'item-main-content__photo--big'
        -if @product.buyer_user_id.present? 
          .items-box_photo__sold
            .items-box_photo__sold__inner SOLD

      .main-content__photoSub
        - @product.product_photos.each do |photo|
          = image_tag photo.photo.url, class:'main-content__photoSub--small'

      .main-content__price
        %p.lower-message__content
          = @product.price
          円
        %span.main-content__price--detail
          .main-content__price--detail-tax 
            (税込)
          .main-content__price--detail-shipFee 
            送料込み
      
      .main-content__purchase
        -if (user_signed_in? && @product.buyer_user_id == nil)
          -if (current_user.id == @product.exhibitor_user_id)
            %button.main-content__purchase--btn
              表品の修正
            %button.main-content__purchase--btn
              = link_to '削除',product_path, method: :delete
              
          - else
            %button.main-content__purchase--btn
              = link_to "購入に進む" ,product_cards_path(@product.id), method: :post

      .main-content__description
        = @product.explanation

      %table.main-content__table{border: "1" ,style: "border-collapse: collapse"}
        %tbody
          %tr
            %th 出品者
            %td
              = link_to @user.nickname, product_path, class: ""
              %div
          %tr
            %th カテゴリー
            %td
              = link_to @category.parent.parent.name, product_path, class: ""
              %br
                = link_to @category.parent.name, product_path, class: ""
                %br
                  = link_to @category.name, product_path, class: ""
          %tr
            %th ブランド
            %td
              = @product.brand
          %tr
            %th 商品の状態
            %td 
              = @product.status
          %tr
            %th 配送料の負担
            %td 
              = @product.bear
          %tr
            %th 配送元地域
            %td 
              = @user.address.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @product.days
              

      .main-content__btn
        %button.main-content__btn--like{id: "like-btn"}
          = icon('fas', 'star')
          お気に入り 
          .numLike{id: "numLike"}
            0
        .main-content__btn--report
          = icon('fab', 'font-awesome-flag')
          不適切な商品の通報
    
    .comment
      .comment__history{id: "comment__history"}
        - if @comments
          - @comments.each do |comment|
            .comment__history--name
              = icon('fas', 'user')
              = comment.user.nickname
            .comment__history--content
              = comment.text
              .comment__history--content-date
                Date:
                = comment.created_at

      %input.comment__input{id: "comment__input", name: "", type: "text", value: "", placeholder: ""}
      .comment__caution
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。

      .comment__btn
        -if (user_signed_in?)
          -if (current_user.id?)
            %button.comment__btn--link{id: "comment__btn--link"} 
              コメントする
              = icon('fas', 'comment')
          -else
            %button.comment__btn--link
              ログインしてください

    .other-products
      .other-products__links
        .other-products__links--privious
          = icon('fas', 'chevron-left')
          = link_to "前の商品","products/#{@product.id - 1}", method: :post 

        .other-products__links--next
          = link_to "前の商品","products/#{@product.id + 1}", method: :post 
          = icon('fas', 'chevron-right')

      .other-products__genre
        メンズ
        = link_to "もっと見る", "/" , method: :post 

  = render "/partial/footer"
