%body
  %header.render.using.kuriyamasan.format

  .wrapper-product-dtail

    .main-content
      %h1.item-name underground WT142 pro carbon カイトサーフィン
      .main-content__photo
        %img.item-main-content__photo--big{:alt => "underground WT142 pro carbon カイトサーフィン", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_1.jpg?1588653656", :src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_1.jpg?1588653656", :style => "opacity: 1;"}/
      
      .main-content__photoSub
        %img.main-content__photoSub--small{:src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_1.jpg?1588653656"}/
        %img.main-content__photoSub--small{:src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_2.jpg?1588653656"}/

      .main-content__price
        ¥12,000
        %span.main-content__price--detail
          .main-content__price--detail-tax 
            (税込)
          .main-content__price--detail-shipFee 
            送料込み

      .main-content__description
        親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
      
      %table.main-content__table{border: "1" ,style: "border-collapse: collapse"}
        %tbody
          %tr
            %th 出品者
            %td
              %a{:href => "https://www.mercari.com/"} hoge
              %div
          %tr
            %th カテゴリー
            %td
              %a{:href => "https://www.mercari.com/"}
                %div スポーツ・レジャー
              %a{:href => "https://www.mercari.com/"}
                .item-detail-table-sub-category
                  %i.icon-arrow-right
                  その他スポーツ
              %a{:href => "https://www.mercari.com/"}
                .item-detail-table-sub-sub-category
                  %i.icon-arrow-right
                  その他
          %tr
            %th ブランド
            %td
          %tr
            %th 商品の状態
            %td 新品/未使用
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td 着払い（購入者負担）
          %tr
            %th 配送元地域
            %td 青森県
          %tr
            %th 発送日の目安
            %td 	1-2日で発送

      .main-content__btn

        .main-content__btn--like
          = icon('fas', 'star')
          お気に入り 0
        .main-content__btn--report
          = icon('fab', 'font-awesome-flag')
          不適切な商品の通報

    .comment
      %input.comment__input{id: "", name: "", type: "text", value: "", :placeholder =>""}
      .comment__caution
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
      
      .comment__btn
        = icon('fas', 'comment')
        コメントする

    .other-products
      .other-products__links
        %a.other-products__links-privious{:href => "https://www.mercari.com/"}
          = icon('fas', 'chevron-left')
          前の商品
        %a.other-products__links-next{:href => "https://www.mercari.com/"}
          次の商品
          = icon('fas', 'chevron-right')

      .other-products__genre
        %a.other-products__links-privious{:href => "https://www.mercari.com/"}
          メンズもっと見る
